.serverListHeader {
	z-index: 2;

	width: 100%;
	min-height: calc(var(--background-size) * var(--scale));
	margin: 0 auto;
	display: flex;
	flex-direction: column-reverse;

	text-align: center;
	box-shadow: var(--header-box-shadow);
}

.serverListHeader h1 {
	margin-bottom: calc(2px * var(--scale));
}
